* {
    box-sizing: border-box;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
}

div,
a,
button,
select,
p {
    font-size: 1.1vw;
}

h1 {
    font-size: 2vw;
}

h2 {
    font-size: 1.6vw;
}

h3 {
    font-size: 1.4vw;
}

.top-nav__list {
    font-size: 1.2vw
}

.content-button,
.content-button__page {
    font-size: 1vw;
}

@media (max-width: 1500px) {
    div,
    a,
    button,
    select,
    p {
        font-size: 2.2vw;
    }

    h1 {
        font-size: 4vw;
    }

    h2 {
        font-size: 3.2vw;
    }

    h3 {
        font-size: 2.8vw;
    }

    .top-nav__list {
        font-size: 2.4vw
    }

    .content-button,
    .content-button__page {
        font-size: 2vw;
    }
}

@media (max-width: 800px) {
    div,
    a,
    button,
    select,
    p {
        font-size: 3.3vw;
    }

    h1 {
        font-size: 6vw;
    }

    h2 {
        font-size: 4.8vw;
    }

    h3 {
        font-size: 4.2vw;
    }

    .top-nav__list {
        font-size: 3.6vw
    }

    .content-button,
    .content-button__page {
        font-size: 3vw;
    }
}

.top-nav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.top-nav__open-button,
.top-nav__close-button {
    padding: 0 2vw;
    color: #aaaaaa;
    font-size: 4vw;
    font-weight: bold;
    cursor: pointer;
    display: none;
}

.top-nav__close-button {
    font-size: 6vw;
}

.top-nav__open-button:hover,
.top-nav__close-button:hover {
    color: #cc0000;
}

.top-nav__list-item a {
    display: block;
    color: #9c9c9c;
    text-align: center;
    padding: 1vw 1.2vw;
    text-decoration: none;
}

.logo {
    background-color: #cc0000;
}

.logo a {
    color: white;
}

.login {
    margin-left: auto;
    margin-right: 0;
    justify-self: right;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.top-nav__list-item a:hover {
    background-color: #cc0000;
    color: white;
}

.top-nav__drop-down {
    background-color: white;
    border: none;
    color: #9c9c9c;
    padding: 1vw 1.2vw;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.top-nav__drop-down:hover {
    background-color: #cc0000;
    color: white;
}

.top-nav__drop-items {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.top-nav__drop-items a {
    color: black;
    padding: 1vw 1.2vw;
    text-decoration: none;
    display: block;
}

.top-nav__drop-items a:hover {
      background-color: #cc0000;
}

.top-nav__drop-down:hover .top-nav__drop-items {
    display: block;
}

@media (max-width: 800px) {
    .top-nav__list {
        flex-direction: column;
    }

    .login {
        margin-right: auto;
    }

    .top-nav__drop-down:hover .top-nav__drop-items {
        width: 90%;
        left: 5%;
    }

    .top-nav__list-item {
        display: none;
        text-align: center;
        padding: 2vw;
    }

    .top-nav__open-button {
        display: block;
    }

    .top-nav__responsive {
        padding: 0;
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .top-nav__buttons {
        padding: 0 1vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.landing-img {
    background-image: url("homeBackground.jpg");
    height: 100%;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content-box {
    width: 60%;
    padding: 0.2vw;
    background-color: white;
    color: black;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1500px) {
    .content-box {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .landing-img {
        background-image: url("");
    }

    .content-box {
        width: 100%;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
    }
}

.content-button,
.content-button__page {
    background-color: #616161;
    border: none;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.content-button:hover,
.content-button__page:hover {
    background-color: #a00000;
}

.content-button {
    padding: 1vw 1.2vw;
}

.content-button__page {
    padding: 0.5vw 0.8vw;
}

.content-form {
    width: 90%;
}

input[type=text],
input[type=number],
input[type=password],
input[type=email] {
    padding: 1vw 1.2vw;
    margin: 0.6vw 0;
    display: inline-block;
    border: 0.1vw solid #cc0000;
    border-radius: 0.2vw;
}

select {
    padding: 1vw 1.2vw;
    margin: 0.6vw 0;
    display: inline-block;
    border-radius: 0.4vw;
}

#snackbar {
    visibility: hidden;
    margin-left: -5vw;
    background-color: #fff;
    color: #333;
    text-align: center;
    border-radius: 0.2vw;
    border: 0.2vw solid #cc0000;
    padding: 1vw;
    position: fixed;
    z-index: 1;
    left: 65%;
    bottom: 1vw;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2);
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 1vw; opacity: 1;}
}

 @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 1vw; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 1vw; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 1vw; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 3vw;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

table {
    max-height: 90%;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

.hover-table:hover {
    background-color: #cc0000;
    color: white;
}

th {
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    text-align: left;
    background-color: #cc0000;
    color: white;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info-list {
    list-style-type: none;
    margin: 0;
    padding: 1vw 1.2vw;
    width: 100%;
    text-align: center;
}

.footer-link:hover {
    color: #cc0000;
}
