<!DOCTYPE html>
<html lang="en">
<head>
        {% block title %}<title>Cashless Cards</title>{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Add additional CSS in static file -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
</head>

<body class="w3-light-grey">

<!-- Navigation bar -->
{% block topbar %}
<nav class="top-nav">
    <ul class="top-nav__list">
        <li class="top-nav__list-item top-nav__responsive">
            <div class="logo">
              <a href="/" class=""><b><i class="fa fa-id-card"></i> Cashless Cards</b></a>
            </div>
            <div class="top-nav__buttons">
                <span class="top-nav__open-button" onclick="openNav()">&#9776;</span>
                <span class="top-nav__close-button" onclick="closeNav()">&times;</span>
            </div>
        </li>
        {% if user.is_authenticated %}
        <li class="top-nav__list-item">
            <a href="{% url 'info' %}" class="">Info</a>
        </li>
        {% if perms.cashless.can_add_customers %}
        <li class="top-nav__list-item">
            <button class="top-nav__drop-down">Customers <i class="fa fa-caret-down"></i>
                <div class="top-nav__drop-items">
                    <a href="{% url 'create_new_customer' %}" class="">Create new</a>
                    <a href="{% url 'customer_list' %}" class="">View existing</a>
                </div>
            </button>
        </li>
        {% endif %}
        {% if perms.cashless.can_add_vouchers %}
        <li class="top-nav__list-item">
            <button class="top-nav__drop-down">Vouchers <i class="fa fa-caret-down"></i>
                <div class="top-nav__drop-items">
                    <a href="{% url 'create_new_voucher' %}" class="">Create new</a>
                    <a href="{% url 'voucher_list' %}" class="">View existing</a>
                </div>
            </button>
        </li>
        {% endif %}
        {% if perms.cashless.view_finance %}
        <li class="top-nav__list-item"><a href="{% url 'activity_log' %}" class="">Activity log</a></li>
        {% endif %}
        {% if request.user.is_superuser %}
        <li class="top-nav__list-item"><a href="{% url 'admin:index' %}" class="">Admin</a></li>
        {% endif %}
        <div class="top-nav__list-item login">
            <a>
              <i class="fa fa-user"></i>
              User: {{ user.get_username }}
            </a>
            <a href="{% url 'logout'%}?next=/">Logout</a>
        </div>
        {% else %}
        <div class="top-nav__list-item login">
          <a href="{% url 'login'%}?next=/">Login</a>
        </div>
        {% endif %}
    </ul>
</nav>
{% endblock %}

<!-- Main contect section of page -->
<div class="landing-img">
  <!-- Main content box -->
  <main class="content-box">
    <div id="content" class="myLink">
      {% block content %}{% endblock %}
            {% block pagination %}
              {% if is_paginated %}
                <div class="pagination" align="right">
                  <p><span class="page-links">
                    {% if page_obj.has_previous %}
                      <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
                        <button class="content-button__page" target="_blank">Previous</button>
                      </a>
                    {% endif %}
                    <span class="page-current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} 
                    </span>
                    {% if page_obj.has_next %}
                      <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">
                        <button class="content-button__page" target="_blank">Next</button>
                      </a>
                    {% endif %}
                  </span></p>
                </div>
              {% endif %}
            {% endblock %} 
    </div>
  </main>
</div>

<!-- Footer -->
{% block footer %}
<footer class="footer">
  <p class="footer-text">
    A website developed by 
    <a href="https://github.com/zakwarren" target="_blank" class="footer-link">
      <em>Zak Warren</em>! 
      <i class="fa fa-github"></i>
    </a>
  </p>
</footer>
{% endblock %}

<script>
  const navItems = document.getElementsByClassName("top-nav__list-item");
  const openButton = document.getElementsByClassName("top-nav__open-button")[0];
  const closeButton = document.getElementsByClassName("top-nav__close-button")[0];

  function openNav() {
    for (let i = 0; i < navItems.length; i++) {
      navItems[i].style.display = "block";
    }
    openButton.style.display = "none";
    closeButton.style.display = "block";
  }

  function closeNav() {
    for (let i = 0; i < navItems.length; i++) {
      navItems[i].removeAttribute("style");
    }
    openButton.removeAttribute("style");
    closeButton.removeAttribute("style");
  }
</script>

</body>
</html>
