{% extends "base_generic.html" %}
{% load static %}

{% block content %}

  <!-- Search box -->
    <h3>Cashless Cards Home</h3>
      <div class="content-inner">
        <label>ID card number</label>
        <form method="get" action="/cashless/search/">
          <input class="content-form" type="text" placeholder="ID card number" name="q" id="id_q" value="{{ query }}"/>
          <p><input class="content-button" type="submit" value="Find cash balance" /></p>
        </form>
      </div>

{% endblock %}