{% extends "base_generic.html" %}

{% block content %}

<h1>Transaction log</h1>
{% if transaction_log %}
<div class="w3-responsive">
    <table>
        <tr>
            <th>Customer</th>
            <th>Time</th>
            <th>Type</th>
            <th>Cash value</th>
            <th>Voucher value</th>
        </tr>

        {% for item in transaction_log %}
        <tr class="hover-table"> 
            <td>{{ item.customer.surname }}, {{ item.customer.first_name }}</td>
            <td>{{ item.transaction_time }}</td>
            <td>{{ item.transaction_type }}</td>
            <td>{{ item.transaction_value }}</td>
            <td>{{ item.voucher_value }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% else %}
  <p>There have been no transactions this month.</p>
{% endif %}   

{% endblock %}
