{% extends "base_generic.html" %}

{% block content %}

<h1>Vouchers</h1>
<p>
    <a href="{% url 'create_new_voucher' %}">
        <button class="content-button" target="_blank">Create a new voucher</button>
    </a>
</p>
{% if voucher_list %}
<div class="content-inner">
    <table>
        <tr>
            <th>Application rate</th>
            <th>Name</th>
            <th>Value</th>
        </tr>

        {% for voucher in voucher_list %}
        <tr class="hover-table"> 
            <td>{{ voucher.voucher_application }}</td>
            <td><a href="{% url 'voucher_detail' voucher.pk %}">{{ voucher.voucher_name }}</a></td>
            <td>{{ voucher.voucher_value }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% else %}
  <p>There are no vouchers in the system.</p>
{% endif %}   

{% endblock %}
