{% extends "base_generic.html" %}
{% block content %}

    <h1>Customer: {{custom_inst.first_name}} {{custom_inst.surname}}</h1>
        <p>Current vouchers:</p>
            <ul>
            {% for link in link_inst %}
                <li>{{ link.voucher.voucher_name }}: {{ link.voucher.voucher_value }}</li>
            {% endfor %}
            </ul>
    
    <div class="w3-responsive">
        <form action="" method="post">
            {% csrf_token %}
            <table>
            {{ form }}
            </table>
            <p><input class="w3-button w3-dark-grey" type="submit" value="Submit" /></p>
        </form>
    </div>
        <p><a href="{% url 'index' %}"><button class="w3-button w3-dark-grey" target="_blank">Search with another card</button></a></p>


{% endblock %}