{% extends "base_generic.html" %}
{% block content %}

    <h1>Customer: {{custom_inst.first_name}} {{custom_inst.surname}}</h1>
        <p>Are you sure you want to unassign {{ link_inst.voucher_name }}? </p>
    
    <div class="content-inner">
        <form action="" method="post">
            {% csrf_token %}
            <table>
            {{ form }}
            </table>
            <p><input class="content-button" type="submit" value="Submit" /></p>
        </form>
    </div>
        <p><a href="{% url 'index' %}"><button class="content-button" target="_blank">Search with another card</button></a></p>


{% endblock %}