{% extends "base_generic.html" %}
{% block content %}

    <h1>Customer: {{custom_inst.first_name}} {{custom_inst.surname}}</h1>
        {% if link_inst %}
        <p>Current vouchers:</p>
            <table>
            {% for link in link_inst %}
            <tr>
                <td>
                    {{ link.voucher.voucher_name }}: {{ link.voucher.voucher_value }}
                </td>
                <td>
                    <a href="{% url 'remove_voucher_link' pk=custom_inst.pk voucher_id=link.voucher_id %}"><button class="w3-button w3-dark-grey" target="_blank">Unassign</button></a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br />
        {% endif %}
    
    <div class="w3-responsive">
        <form action="" method="post">
            {% csrf_token %}
            <table>
            {{ form }}
            </table>
            <p><input class="w3-button w3-dark-grey" type="submit" value="Submit" /></p>
        </form>
    </div>
        <p><a href="{% url 'index' %}"><button class="w3-button w3-dark-grey" target="_blank">Search with another card</button></a></p>


{% endblock %}